.buttons-container {
    width: 80px;
    height: 450px;
    background-color: #f0f0f0;
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #ccc;
    border-radius: 10px;
}