.left-UI {
    position: fixed;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.buttons-container {
    width: max-content;
    height: max-content;
    background-color: #f0f0f0;
    position: fixed;
    left: 10px;
    /* six-seven */
    top: 67px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    padding-right: 1px;
}

.pause-button {
    width: 80px;
    height: 40px;
    background-color: #0f0f0f;
    border: 3px solid #3f3f3f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    position: fixed;
    left: 7px;
    top: 10px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25);
}