/* Right UI Styles */
.right-UI {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 300px;
    height: 100%;
    border-left: 4px solid lightgray;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.shape-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
}

#input-slider {
    flex: 0.5fr;
    margin-left: 5px;
}

input[type="range"] {
    appearance: none;
    background: #aaa;
    height: 8px;
    border-radius: 4px;
    border: 2.5px solid #bbb;
    outline: none;
    transition: background 0.2s, border-color 0.8s;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 2px solid #888;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: background 0.2s, border-color 0.4s, box-shadow 0.1s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #ccf;
    border-color: #99f;
    box-shadow: 0 0 8px rgba(0,0,200,0.4);
}

input[type="range"]:hover {
    background: #bbd;
    border-color: #99f;
}

/* placeholder, color wheel not implemented (yet) */
.color-wheel {
    width: 170px;
    height: 170px;
    border-radius: 6.9px;
    background-color: #e0e0e0;
    border: 3px solid #ccc;
    margin: 40px;
}

.right-UI-title {
    font-size: 26px;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
    font-family: Roboto, arial;
    margin: 0;
    border: 3px solid hsl(0, 0%, 87.8%);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

.property-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border: 2.5px solid #eee;
}

.property-label {
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto, arial;
    margin: 0;
    color: #555;
    margin-left: 10px;
}

.property-value {
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto, arial;
    margin: 0;
    color: #555;
    width: 30px;
    margin-left: auto;
}

.right-UI-drawer-toggle {
    position: absolute;
    left: -32px;
    top: 45px;
    transform: translateY(-50%);
    width: 20px;
    height: 60px;
    background-color: #fff;
    /* no right border */
    border-left: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 5px 0 5px rgba(0,0,0,0.02);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
    font-family: Roboto, arial;
    font-size: 25px;
    padding-left: 10px;
    transition: 0.25s;
}

.right-UI-drawer-toggle:hover {
    color: #dde;
    box-shadow: inset 5px 0 5px rgba(0,0,255,0.05);
}

.text-input-container {
display: flex;
align-items: center;
width: 100%;
gap: 8px;
}